<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>LIBRARY </b></a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <a class="nav-link" href="/login">Admin Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reader">Reader Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search_book">Search</a>
                </li>
            </ul>
        </div>
    </div>
</nav>