<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library Management Flask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>LIBRARY </b></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/add_document">Add Document</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search_book">Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='container'>
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
        <br>
        <h1>Add New Member</h1>
        {% from "includes/_formhelpers.html" import render_field %}
        <section id="add-reader">
            <h1>Please enter the details and submit to add reader</h1>
            <form method="POST" action="/add_reader">
                <input name="reader-name" placeholder="Reader Name" type="text"/>
                <input name="reader-address" placeholder="Reader Address" type="text"/>
                <input name="reader-phoneno" placeholder="Reader Mobile" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;" />
                <button>Submit</button>
            </form>
    
            <div id="reader-details">
                <h1>Existing readers in the db.</h1>
                <div class="reader">
                    <h1> RID </h1>
                    <h1> RNAME </h1>
                    <h1> RADDRESS </h1>
                    <h1> PHONE NUMBER </h1>
                </div>
                {% for reader in readers %}
                    <div class="reader">
                        <h1>{{ reader['RID'] }}</h1>
                        <h1>{{ reader['RNAME'] }}</h1>
                        <h1>{{ reader['RADDRESS'] }}</h1>
                        <h1>{{ reader['PHONE_NO'] }}</h1>
                    </div>
                {% endfor%}
            </div>

    </body>

</html>