<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library Management Flask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>LIBRARY </b></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <a class="nav-link" href="/add_reader">Add Reader</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search_book">Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="add-reader"></section>
        <h1> Add new document</h1>
        <form method="POST" action="/add_document">
            <input name="title" placeholder="document Name" type="text"/>
            <input name="pdate" placeholder="published  date" type="date"/>
            <input name="pid" placeholder="published by" type="number"/>
            <button>Submit</button>
        </form>

        <div id="reader-details">
            <h1>Existing documents in the db.</h1>
            <div class="reader">
                <h1> DOC ID </h1>
                <h1> DOCUMENT NAME </h1>
                <h1> PUBLISHED ON</h1>
                <h1> PUBLISHER ID</h1>
            </div>
            {% for doc in documents %}
                <div class="reader">
                    <h1>{{ doc['DOCID'] }}</h1>
                    <h1>{{ doc['TITLE'] }}</h1>
                    <h1>{{ doc['PDATE'] }}</h1>
                    <h1>{{ doc['PUBID'] }}</h1>
                </div>
    </body>

</html>