<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library Management Flask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>LIBRARY </b></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <a class="nav-link" href="/add_reader">Add Reader</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add_document">Add Document</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search_book">Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='container'>
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
        
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Library Management System</h1>
            {% block reader %}
            <section id="reader-section">
                <h1>Welcome reader <span style="font-weight: bolder;">{{ readername }}</span></h1>
                <form action="/searchDoc"> 
                    <input name="search">
                    <button>Submit</button>
                </form>
                <div id="sign-out">
                    <a href="/sign_out">sign out</h1>
                </div>
            </section>
        {% endblock %}
            </div>
        </div>

    </body>

</html>